@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,300&family=Montserrat:ital,wght@0,400;0,700;1,300&family=Shadows+Into+Light&display=swap');
#content {
    max-width:1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #F9F5F1;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #133567;
    color: #F9F5F1;
}
body {
    color: #2E2524;
    background-color: #F9F5F1;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    color: #F9F5F1;
    background-color: #238080;
}
nav a:hover {
    color: #238080;
    background-color: #F9F5F1;
}
.book, .join {
    color: #F9F5F1;
    text-decoration: none;
    background-color: #238080;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #F9F5F1;
    background-color: #268C8C;
}
.msg {
    color: #F9F5F1;
    background-color: #584C4B;
}
footer {
    color: #F9F5F1;
    background-color: #2E2524;
}
.home-title {
    color: #E6410F;
    font-family: 'Shadows Into Light', Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #2E2524;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: #F9F5F1;
    font-family: 'Shadows Into Light', Arial, sans-serif;
}
.msg p {
    color: #F9F5F1;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    line-height: 1.5em;
    padding: 35px;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: #F9F5F1;
}
footer a {
    color: #F9F5F1;
    text-decoration: none;
}
footer a:hover {
    color: #238080;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;

}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #E6410F;
}
main section img {
    box-sizing: border-box;
}