#content {
    max-width:1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #F9F5F1;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #133567;
    color: #F9F5F1;
}
body {
    color: #2E2524;
    background-color: #F9F5F1;
}
header {
    color: #F9F5F1;
    background-color: #549339;
}
nav a:hover {
    color: #549339;
    background-color: #F9F5F1;
}
.book, .join {
    color: #F9F5F1;
    text-decoration: none;
    background-color: #238080;
}
.book:hover, .join:hover {
    color: #F9F5F1;
    background-color: #268C8C;
}
.msg {
    color: #F9F5F1;
    background-color: #584C4B;
}
footer {
    color: #F9F5F1;
    background-color: #2E2524;
}
.home-title {
    color: #E6410F;
}
h4 {
    color: #2E2524;
}
.msg h2 {
    color: #F9F5F1;
}
.msg p {
    color: #F9F5F1;
}
footer h3 {
    color: #F9F5F1;
}
footer a {
    color: #F9F5F1;
    text-decoration: none;
}
footer a:hover {
    color: #238080;
}
.logo {
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}   